<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en tiempo real</title>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>

<ul id="listaProductos"></ul>

<h2>Agregar Producto</h2>
<form id="formAgregar">
  <input name="title" placeholder="Nombre" required />
  <input name="price" type="number" placeholder="Precio" required />
  <button type="submit">Agregar</button>
</form>

<h2>Eliminar Producto</h2>
<form id="formEliminar">
  <input name="id" type="number" placeholder="ID producto a eliminar" required />
  <button type="submit">Eliminar</button>
</form>


</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>

</html>